################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DesignPatterns/DesignPatterns/obj/Debug
/DesignPatterns/DesignPatterns/bin/Debug
/DesignPatterns/.vs/DesignPatterns/v15
